[submodule "drcctprof"]
	path = drcctprof
	url = git@github.com:FindHao/DrCCTProf.git
	branch = gpupunk
[submodule "gputrigger"]
	path = gputrigger
	url = git@github.com:FindHao/gputrigger.git
[submodule "gpupunk_samples"]
	path = gpupunk_samples
	url = git@github.com:FindHao/gpupunk_samples.git
[submodule "redshow"]
	path = redshow
	url = git@github.com:GVProf/redshow.git
[submodule "libmonitor"]
	path = libmonitor
	url = git@github.com:HPCToolkit/libmonitor.git
