[submodule "gputrigger"]
	path = gputrigger
	url = git@github.com:FindHao/gputrigger.git
[submodule "gpupunk_samples"]
	path = gpupunk_samples
	url = git@github.com:FindHao/gpupunk_samples.git
[submodule "redshow"]
	path = redshow
	url = git@github.com:GVProf/redshow.git
[submodule "libmonitor"]
	path = libmonitor
	url = git@github.com:HPCToolkit/libmonitor.git
[submodule "drcctprof_clients"]
	path = drcctprof_clients
	url = git@github.com:dolanzhao/drcctprof_clients.git
